/* modo escuro :verde e preto */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(9, 76, 142);
    transition: background-color 0.45s ease, color 0.45s;
}

#Container {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
}

input {
    width: 250px;
    border-radius: 5px;
    height: 25px;
    border: solid 1px black;
    outline: none;
    text-align: center;
    background-color: none;
}

button {
    color: rgb(29, 68, 146);
    border: none;
    background-color: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;

}

button:active {
    transform: translateY(2px);
}

#modoClaro {
    position: absolute;
    right: 25px;
    bottom: 18px;
    cursor: pointer;
}

#modoClaro:active {
    transform: translateY(2px);
}

#btnAcesso,
#btnCadastroCplt {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 70px;
    height: 25px;
}

#Cadastro form,
#Login form {
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#Login {
    gap: 7px;
}

#Cadastro {
    gap: 7px;
    display: none;
}

.bi-bi-eye-slash,
.bi-bi-eye {
    position: absolute;
    top: 219px;
    right: 50px;
    cursor: pointer;
}


body.dark {
    background-color: rgb(19, 18, 18);
}

body.dark #container {
    background-color: rgb(35, 32, 32);
    color: white;
}

body.dark input {
    background-color: rgb(16, 15, 15);
    color: white;
}

body.dark #btnAcesso,
body.dark #btnCadastroCplt {
    background-color: rgb(33, 33, 33);
    color: beige;
}
body.dark h1, labe{
    color: white;
    border: white;
}
body.dark input{
    border: white solid 0.1px;
}
body.dark button{
    color: beige;
}